@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #4A6FA5, #C0D6DF);
}

.img {
    width: 40%;
    margin-right: 2em;
}

.container{
    display: flex;
    position: relative;
    max-width: 1200px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.right-side {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(90deg, #4A6FA5, #C0D6DF);
}

.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 12px 0px;
}

.input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid{
    border-color: #4A6FA5;
}

.gender-title{
    font-size: 20px;
    font-weight: 500;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 220px;
    justify-content: space-between;
}

.category input{
    accent-color: #4F6D7A;
}

.faculty-title{
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}

select{
    margin-top: 5px;
    margin-bottom: 15px;
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

select:focus
{
    border-color: #4A6FA5;
}

.btn {
    height: 4em;
    width: inherit;
    position: relative;
    border: 1px solid #dddd;
    border-radius: 0.5em;
    background: linear-gradient(90deg, #4A6FA5, #C0D6DF);
    z-index: 1;
}

.btn input {
    height: inherit;
    width: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.btn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, #4A6FA5, #C0D6DF);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}
.btn:hover::before {
    opacity: 1;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px
}

.txt{
    margin-right: 15px;
}

.login a{
    color: #4A6FA5;
    text-decoration: none;
}

.login a:active{
    color: #C0D6DF
}

.not-match{
    color: red;
}