@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #4A6FA5, #C0D6DF);
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(90deg, #4A6FA5, #C0D6DF);
}

.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 12px 0px;
}

.input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px)
}

.input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid{
    border-color: #4A6FA5;
}

.gender-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 220px;
    justify-content: space-between;
}

.category input{
    accent-color: #C0D6DF;
}

.faculty-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-bottom: 5px;
}

select{
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.btn{
    height: 45px;
    margin: 15px 0;
}

.btn input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #4A6FA5, #C0D6DF);
}

.btn input:hover{
    background: linear-gradient(-90deg, #4A6FA5, #C0D6DF);
    transition: all 0.3s ease;
}

.btn input:active{
    filter: grayscale(50%);
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px
}

.txt{
    margin-right: 15px;
}

.login a{
    color: #4A6FA5;
    text-decoration:none;
}

.login a:active{
    color: #C0D6DF
}