@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #4A6FA5, #C0D6DF);
}

.container {
    max-width: 1000px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    position: relative;
    display: grid;
    place-items: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 3em;
}